.parent {
  background-color: #1C1C1C;
  color: #ffffff;
  width: 100%;
}
.footerFlex {
  display: flex;
  padding: 3rem;
}
.footerFlex > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  padding: 4px;
}
.footerFlex > div p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.footerFlex > div p:nth-child(1) {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footerFlex div:nth-child(3) {
  gap: 20px 10px;
  flex: 2;
  margin: auto;
}
.footerFlex div:nth-child(4) p {
  color: #67cbab;
}
.footerFlex div:nth-child(4) p:nth-child(1) {
  color: #ffffff;
}

.parent > div:nth-child(3) {
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  padding:1rem 10px;
}

.parent > hr:nth-child(2) {
background-color: gray;
}
